<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>

		<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
	<ul class = "Nu">
	 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
	 		<li class="Nl"><a class="Na" href="/levels">Level Page</a></li>
   			<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
   			<li class = "Nll"><a class="Na" href="/settings"><i class="material-icons" style="font-size:23px">settings</i></a></li>
    	
	</ul>
	<div class = "space"></div>
	<div class="box1">
	<h2>Reset Password</h1>
	</div>

	<div class="box5">
	<div class="inputbackground">
		<form action="/resetPassword" method="POST">
		
			<div class="form-input">
				<input type="password" name="newPassword"
				placeholder="Enter new password">
			<div>
			<div class="form-input">
				<input type="password" name="checkPassword"
				placeholder="Re-enter password">
			</div>

			<!--Show error message if username or password are incorrect.-->
			{% if error %}
			<div class="error">{{ error }}</div>
			{% endif %}

			<input type="submit" name="submit" value="Reset Password" class="btn-login"><br>
		</form>
	</div>
	</div>
	
</body>
</html>