<!DOCTYPE html>
<html>
<head>
	<title>Course ??? Overview Page</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>	

	<ul class="UL">
		<div class="li1"><a href="/levelPage1"><button class="navInst">Level Page</button></a></div>
		<div class="h2">Course ?? Overview Page</div>
		<div class="li2"><a href="/logout"><button class="navLogout">Logout</button></a></div>
	</ul>

	<div class="instD">
		<h3 class="instH">Give an overview of whatever level this is!</h3>

	</div>

	<button id="playGame" type="button">PLAY GAME</button>
	
</body>
</html>