<!DOCTYPE html>
<html>
<head>
	<title>Tech Track</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
<!-- <img src="/static/Images/TechTrackLogo.png"> -->
	<div class="instD">
	<h1 class="instH">Instructions</h1>
	</div>


	<div class="instD">
		<h3 class="instH">Overview</h3>

			<h4 class="inst">The puropse of Tech Track is to help computer science students, particularly those at Purdue, gain an insight on what track they might want to pursue.  Our game will introduce you to the different courses you may take as a computer science major.  Your character will complete a series of quizes based on the cs courses from the start to graduation.  Once you pass them all you will graduate and recieve an analysis on which tracks to look into.</h4>

		<h3 class="instH">Levels</h3>
		<ul class="inst" style="list-style-type:disc">
			<li><h4 class="inst">There are three levels you will progress through.</h4></li>
			<li><h4 class="inst">Once you pass the core level, you will work on the 300 level and 400 level.</h4></li>
			<li><h4 class="inst">Once you complete all levels you will graduate!</h4></li>
		</ul>

		<h3 class="instH">Moving your Character</h3>
		<ul class="inst" style="list-style-type:disc">
			<li><h4 class="inst">Use the arrow keys to move your character.</h4></li>
			<li><h4 class="inst">To enter a new quiz, press the up arrow while infront of the door.</h4></li>
			<li><h4 class="inst">To move to a new level, walk to the edge of the screen.</h4></li>
		</ul>

		<h3 class="instH">Analysis</h3>
		<ul class="inst" style="list-style-type:disc">
			<li><h4 class="inst">Our report on the best track for you is based on two measures.</h4></li>
			<li><h4 class="inst">First, we track your score on all the quizes.</h4></li>
			<li><h4 class="inst">We also take your ratings into account.</h4></li>
			<li><h4 class="inst">Our algorithm will combine the two and we will tell you which tracks to look into</h4></li>
		</ul>
	</div>

	<button id="playGame" type="button">PLAY GAME</button>
	
</body>
</html>