<!DOCTYPE html>
<html>
<head>
	<title>Level 3 Page</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>	

	<ul class="UL">
		<div class="li1"><a href="/instructions"><button class="navInst">Instructions</button></a></div>
		<div class="h2">Level 3</div>
		<div class="li2"><a href="/logout"><button class="navLogout">Logout</button></a></div>
	</ul>

	<div class="instD">
		<a href="/courseOverview"><button id="level1" type="button">CS 448</button></a>
		<a href="/courseOverview"><button id="level1" type="button">CS 456</button></a>
		<a href="/courseOverview"><button id="level1" type="button">CS 442</button></a>
		<a href="/courseOverview"><button id="level1" type="button">CS 426</button></a>
	</div>

	<ul class="UL">	
		<div class="li1"><a href="/levelPage2"><button class="navInst">Level 2</button></a></div>
	</ul>

</body>
</html>
