<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
	<ul class = "Nu">
 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
 		<li class = "Nl"><a class="Na" href="/levels">Level Page</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
   		<li class = "Nll"><a class="Na" href="/settings"><i class="material-icons" style="font-size:23px">settings</i></a></li>
    	
	</ul>

	<div class="instD">
		<div class="box4"><h2 class="instH">Overview for {{className}} - {{courseTitle}}</h2></div>

			<div class="box3"><h3 class="inst">{{courseOverview1}}</h3></div>
			<div class="box3"><h3 class="inst">{{courseOverview2}}</h3></div>
			<div class="box3"><h3 class="inst">{{courseOverview3}}</h3></div>
			<div class="box3"><h3 class="inst">{{courseOverview4}}</h3></div>
			<div class="box3"><h3 class="inst">{{courseOverview5}}</h3></div>



	</div>

	<a href="/quiz"><button id="playGame" type="button">PLAY GAME</button><a href="/quiz">
</body>
</html>