<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
	<ul class = "Nu">
 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
    	
	</ul>

	<div class="instD">
		<h2 class="instH">Overview for {{className}} - {{courseTitle}}</h2>

			<h3 class="inst">{{courseOverview}}</h3>

	</div>

	<a><button id="playGame" type="button">PLAY GAME</button><a href="/levels">
	
</body>
</html>