<!DOCTYPE html>
<html>
<head>
	<title>Tech Track</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
	<ul class = "Nu">
 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
    	
	</ul>

	<h1>Welcome to {{className}}!</h1>
	<h2>Here is the class name again {{anotherClass}}!</h2>

</body>
</html>