<!DOCTYPE html>
<html>
<head>
	<title>Game 3</title>
	<link rel="stylesheet" type="text/css" href="/static/quizstyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<!--I added this ul block for the top bar. -->
	<ul class = "Nu">
 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
 		<li class = "Nl"><a class="Na" href="/levels">Level Page</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
   		<li class = "Nll"><a class="Na" href="/settings"><i class="material-icons" style="font-size:23px">settings</i></a></li>
    	
	</ul>
	
	<div class="main-questions">
		<!-- <h1 class="gameTitle">Game 3</h1> -->
		<header class="gameTitle">{{questions[0][6]}}</header>

		<div class="questions">
			<form action="/quiz" method="POST" class="questions">

				{% if error %}
					<div class="error">{{error}}</div>
				{% endif %}

				{% for question in questions %}
				<div class="questions" id="q{{loop.index}}">
					<h3>{{loop.index}}. {{question[0]}}</h3>
					<ul>
						{% if answers[loop.index0] == 1 %}
							<input type="radio" name="q{{loop.index}}" checked value="1"><label>{{question[1]}}</label><br>
						{% else %}
							<input type="radio" name="q{{loop.index}}" value="1"><label>{{question[1]}}</label><br>
						{% endif %}
						
						{% if answers[loop.index0] == 2 %}
							<input type="radio" name="q{{loop.index}}" checked value="2"><label>{{question[2]}}</label><br>
						{% else %}
							<input type="radio" name="q{{loop.index}}" value="2"><label>{{question[2]}}</label><br>
						{% endif %}

						{% if answers[loop.index0] == 3 %}
							<input type="radio" name="q{{loop.index}}" checked value="3"><label>{{question[3]}}</label><br>
						{% else %}
							<input type="radio" name="q{{loop.index}}" value="3"><label>{{question[3]}}</label><br>
						{% endif %}

						{% if answers[loop.index0] == 4 %}
							<input type="radio" name="q{{loop.index}}" checked value="4"><label>{{question[4]}}</label><br>
						{% else %}
							<input type="radio" name="q{{loop.index}}" value="4"><label>{{question[4]}}</label><br>
						{% endif %}
					</ul>

					{% if grades %}
						{% if grades[loop.index0] == 1 %}
							<p class="correct">&#10004;</p>
						{% else %}
							<p id="wrong">&#10060;</p>
						{% endif %}
					{% endif %}

				</div>
				{% endfor %}

				<!--I added this div for rank -->
				<div class="sub">

					<p>Please rank the course!&#9786</p>
					<!--<input type="text" id="rankquiz" placeholder="Rank"> / 5 -->
					<select name="rankquiz">
						{% if rank == 1 %}
							<option selected value="1">1</option>
						{% else %}
  							<option value="1">1</option>
						{% endif %}
  						{% if rank == 2 %}
							<option selected value="2">2</option>
						{% else %}
  							<option value="2">2</option>
						{% endif %}
						{% if rank == 3 %}
							<option selected value="3">3</option>
						{% else %}
  							<option value="3">3</option>
						{% endif %}
						{% if rank == 4 %}
							<option selected value="4">4</option>
						{% else %}
  							<option value="4">4</option>
						{% endif %}
						{% if rank == 5 %}
							<option selected value="5">5</option>
						{% else %}
  							<option value="5">5</option>
						{% endif %}
					</select> / 5
				</div>

				{% if showSubmit %}
					<!-- <input type="submit" name="submit" value="SUBMIT"><br> --> 
					<!--I commented this out the top line and added the line below -->
					<div class="sub"><input type="submit" name="submit" value="SUBMIT"></div>
				{% else %}

					<a class="lev" href="/levels"><button id="button" type="button">LEVEL PAGE</button><a href="/levels">

				{% endif %}
			</form>
		</div>
	</div>
</body>
</html>