<!DOCTYPE html>
<html>
<head>
	<title>Reset Game</title>

		<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
	<ul class = "Nu">
	 	<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
	 	<li class="Nl"><a class="Na" href="/levels">Level Page</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
   		<li class = "Nll"><a class="Na" href="/settings"><i class="material-icons" style="font-size:23px">settings</i></a></li>
    	
	</ul>

		

	<div class = "space"></div>
	<div class="box1">
	<h2>Reset Game Progress</h1>
	<h3>Reseting your progress will delete all data. There is no undo for this action. Are you sure you want to continue?</h3>

	</div>

	<div class="box5">
	<div class="inputbackground">

		<a href="/settings"><button id="listbutton" type="button">Cancel</button></a>
		<a href="/resetProgress"><button id="listbutton" type="button">Reset game progress</button></a>

		<!--<input type="submit" name="submit" value=" Cancel" class="btn-login"><br>
		<input type="submit" name="submit" value="Reset Progress" class="btn-login"><br>-->
	
	</div>
	</div>
	
</body>
</html>