<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>

	<!--style.cc is in the static folder-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/hallwayStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

	<ul class = "Nu">
 		<li class = "Nl"><a class="Na" href="/instructions">Instructions</a></li>
 		 <li class = "Nl"><a class="Na" href="/levels">Level Page</a></li>
   		<li class = "Nll"><a class="Na" href="/logout">Logout</a></li>
   		<li class = "Nll"><a class="Na" href="/settings"><i class="material-icons" style="font-size:23px">settings</i></a></li>
    	
	</ul>
	<div class="space"></div>
	<div class="box6">
	<h2>User Account Settings</h2>
	</div>

	<a href="/changePassword"><button id="listbutton" type="button">Set new password</button></a>
	<div id="line"></div>

	<a href="/resetGame"><button id="listbutton" type="button">Reset game progress</button></a>
	
</body>
</html>