* {
    padding: 0; margin: 0;
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;

}

.gameTitle{
	text-align: center;
	font-size: 50px;
    padding: .5em

}
.error{
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.8);
}
.error_rank{
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.8);
}
.Nu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Nl {
    float: left;
}

.Nll {
	float: right;
}

.Na {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}

/* Change the link color to #111 (black) on hover */
a:hover {
    background-color: #111;
}

/*mine*/
body{
	/*background-image: url("raspberrypi.png"); */
    /*background-color: rgb(250, 235, 215);*/
    /*background: #466368; */ /*this is good and goes together with the next line*/
    /*background: radial-gradient(#648880, #293f50);*/
    background: #F7F3ED

}
input[type="submit"]{
    margin: 0 auto;

	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    background-color: #333;
    border: none;
    color: white;
    font-size: 1em;
    padding: 1em;
	width: 30%;
    text-align: center;	
}
input[type="submit"]:hover{
    background-color: #111;
}
input[type="radio"]{
    margin: 1em;
    margin-left: 3em;
}
/*input[type="button"]{ */
/*#button{

    float: left; 
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    margin-top: 1em;
    background-color: #333;
    border: none;
    color: white;
    margin-right: 2.2em; 
    font-size: 1em;
    padding: 1em;
    width: 30%; 
    
    
} */
#button{
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    background-color: #333;
    border: none;
    color: white;
    font-size: 1em;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}
button:hover {
    background-color: #111;
}
/*input[type="button"]:hover{
    background-color: #111;
} */


/*#button{
	width: 7em;
	height: 2em;
	background-color: grey;
	margin-left: 70em;
	font-size: 15px;
}*/
.questions{
	/*color: rgb(255, 140, 0);*/
	color: black;
	margin-left: 2.5em;
	font-size: 20px;
    padding: .5em;

}
.correct{
	color: #00ff00;
}
label {
    padding-left: .5em;
}
#rankquiz{
    text-align: center;
    height: 30px;
    width: 50px;
    font-size: 18px;
    background-color: #fff;
    
    
}
.sub {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}
h3{
    padding-bottom: .5em;
}