* {padding: 0; margin: 0}
.gameTitle{
	text-align: center;
	font-size: 50px;
}
.error{
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    /*color: #c12d22; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.8);
}
.Nu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Nl {
    float: left;
}

.Nll {
	float: right;
}

.Na {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}

/* Change the link color to #111 (black) on hover */
a:hover {
    background-color: #111;
}

/*mine*/
body{
	/*background-image: url("raspberrypi.png"); */
    /*background-color: rgb(250, 235, 215);*/
    /*background: #466368; */ /*this is good and goes together with the next line*/
    /*background: radial-gradient(#648880, #293f50);*/
    background: radial-gradient(#37b2b5, #293f50);

}
input[type="submit"]{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	margin-top: 1em;
	/*background-color: #c12d22;*/
	/*background-color: rgba(153, 102, 255, 0.4);*/
	background-color: rgba(45, 73, 94, 0.7);
    border: none;
    color: white;
    margin-left: 15em;
    /*margin: 4px 2px;*/
    font-size: 1em;
    padding: 1em;
	/*text-align: center;*/
	width: 30%;
	
}
/*#button{
	width: 7em;
	height: 2em;
	background-color: grey;
	margin-left: 70em;
	font-size: 15px;
}*/
.questions{
	/*color: rgb(255, 140, 0);*/
	color: black;
	margin-left: 20px;
	font-size: 30px;
}
.correct{
	color: #00ff00;
}