body{
	
	margin: 0 auto;
	background-color: #efd6d0;
	background-repeat: no-repeat;
	background-size: 100% 770px;
}

.inputbackground{

	width: 500px;
	height: 220px;
	text-align: center;
	/*background-color: rgba(52, 73, 94, 0.7); */
	border-radius: 4px;
	margin: 0 auto;
	color: white;
	
}

img {
	margin: auto;
	margin-top: 3em;
	width: 50%;
	display: block;
}
h2{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	margin-top: 2em;
	text-align: center;
	color: #c12d22;
	font-size: 40px;
	margin-bottom: 10px;
}

input[type="text"]{

	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	margin-top: 20px;
	height: 1em;
	width: 300px;
	font-size: 2em;
	margin-bottom: 20px;
	background-color: #e2b7ac;
	text-align: left;
	color: #c12d22; 
	border: .1em solid #c12d22;
	border-radius: 4px;
	padding: .5em;
}

input[type="password"]{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    margin-top: 1px;
	height: 1em;
	width: 300px;
	font-size: 2em;
	margin-bottom: 5px;
	background-color: #e2b7ac;
	text-align: left;
	color: #c12d22;
	border: .1em solid #c12d22;
	border-radius: 4px;
	padding: .5em;
}
input[type="text"]:focus {
    border: .2em solid #555;
}
input[type="password"]:focus {
    border: .2em solid #555;
}

input[type="submit"]{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	margin-top: 1em;
	background-color: #c12d22;
    border: none;
    color: white;
    margin: 4px 2px;
    font-size: 1em;
    padding: 1em;
	text-align: center;
	width: 30%;
	
}
*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c12d22;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c12d22;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c12d22;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c12d22;
}
.error{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 18px;
	color: #c12d22;
	/*background-color: rgba(255, 0, 0, 0.9);*/
}
a{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: #c12d22;
}

.instD{
	background-color: #7f1c15;
	margin: 2em;
	padding: 1em;
}

.instH{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: white;
}

.navBarOuter{
	background-color: #7f1c15;
	margin: 2em;
	/*padding: 1em;*/
	text-align: center;
	/*width: 500px;*/
}

.navBarInner{
	display: inline-block;
	float:left;
	/*width: 130px;*/
}

.navBarH{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: white;
	display: block;
	text-align: center;
}

.inst{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: white;
	margin-left: 3em;
	margin-right: 3em;
}

#playGame{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	width: 50%;
	display: block;
	text-align: center;
	font-size: 3em;
	margin:0 auto;
	margin-bottom: 1em;
}

#playGame:hover{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #7f1c15;
	color: white;
	width: 50%;
	font-size: 3em;
	display: block;
	text-align: center;
	margin:0 auto;
	margin-bottom: 1em;
}

#level1{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 3em;
	margin-left: .7em;
	margin-right: .6em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#level1:hover{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #7f1c15;
	color: white;
	width: 20%;
	font-size: 3em;
	display: inline-block;
	text-align: center;
	margin-left: .7em;
	margin-right: .6em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: #c12d22;
	text-align: center;
	position: relative;
	font-size: 80px;
}

.logout{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	width: 20%;
	display: block;
	text-align: center;
	font-size: 3em;
	margin:0 auto;
	margin-bottom: .5em;
	margin-top: .5em;
	margin-left: 23em;

}

.navLogout{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	display: block;
	text-align: center;
	font-size: 3em;
}

.navLogout:hover{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #7f1c15;
	color: white;
	display: block;
	text-align: center;
	font-size: 3em;
}

.navInst{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	display: block;
	text-align: center;
	font-size: 3em;
}

.navInst:hover{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #7f1c15;
	color: white;
	font-size: 3em;
	display: block;
	text-align: center;
}

.navTitle{
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	background-color: #c12d22;
	color: white;
	display: block;
	text-align: center;
	font-size: 3em;
}

.h2 {
	font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
	color: white;
	display: block;
	text-align: center;
	font-size: 3em;
	margin-top: 0;
	display: inline-block;
	float: center;
	width: 60%;
}

.UL {
	list-style-type: none;
	margin: 2em;
	padding: 1em;
	height: 4em;
	background-color: #7f1c15;
}

/*li {
	display: inline-block;
	text-align: center;
	float: center;
	width: 60%;
}*/

.li2 {
	display: inline-block;
	text-align: center;
	float: right;
}

.li1 {
	display: inline-block;
	text-align: center;
	float: left;
}
