.heading{
    text-align: center;
    font-size: 30px;

}
.text{

    text-align: center;
    font-size: 30px;

}
.Nu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Nl {
    float: left;
}

.Nll {
	float: right;
}

.Na {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}

.wrap{
    
	text-align: center;
}
#button{
    
    font-family: 'Roboto', "Trebuchet MS", Arial, sans-serif;
    margin-top: 1em;
    background-color: #333;
    border: none;
    color: white;
    /*float: left;*/
    font-size: 1em;
    padding: 1em;
    /*width: 30%;*/
    width: 22%;
}
button:hover {

    background-color: #111;
}

body{
    /*background: #003973;  
background: -webkit-linear-gradient(to left, #E5E5BE, #003973);  
background: linear-gradient(to left, #E5E5BE, #003973); */
/*background: #603813;  
background: -webkit-linear-gradient(to left, #b29f94, #603813); 
background: linear-gradient(to left, #b29f94, #603813);*/
/*this top*/
/*background: #34e89e;  
background: -webkit-linear-gradient(to left, #0f3443, #34e89e);  
background: linear-gradient(to left, #0f3443, #34e89e); */
/*background: #200122;  
background: -webkit-linear-gradient(to left, #6f0000, #200122);  
background: linear-gradient(to left, #6f0000, #200122); */
background: #F7F3ED;

}